---
//src/components/Attribution.astro
---


<div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Romina Almirón</a>.
</div>